body{
background:#edf1f7;
margin:0;
padding:18px;
font-family:tahoma;
}

.container{
max-width:700px;
margin:auto;
}

.card{
border-radius:26px;
padding:26px;
margin-bottom:18px;
text-align:center;
color:#fff;
font-size:24px;
font-weight:bold;
box-shadow:0 8px 20px rgba(0,0,0,.18);
transition:.2s;
}

.card:active{
transform:scale(.97);
}

.green{
background:#69c15b;
}

.red{
background:#e36d6d;
}

.blue{
background:#46b8bb;
}

.row{
display:flex;
gap:16px;
margin-bottom:18px;
}

.row .card{
flex:1;
padding:20px;
font-size:20px;
}

.card span{
display:block;
font-size:42px;
margin-bottom:10px;
}